
body#searchResults {

  section#header {
    @include padding(60px 0);
  }
  // header

  section#search-input {
    .container {
      @include container;
      max-width: $max-width;
      width: 100%;
      @include margin(0 auto);
      @include align-self(center);
      @media (min-width: $bp_mobile_px) {
        @include column(12);
      }

      form.search-form {
        border-bottom: 2px solid #a8a8a8;
        padding-bottom: 50px;
        @media (min-width: $bp_mobile_px) {
          border: none;
          padding-bottom: 0;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
        }

        .search-bar {
          max-width: 1000px;
          width: 100%;

          label {
            @include form-label;
            padding-bottom: 10px;
          }

          @mixin search-input-text {
            font-family: Georgia;
            font-size: 19px;
            font-weight: normal;
            font-style: italic;
            font-stretch: normal;
            color: #9197a4;
          }

          input.search-field {
            box-sizing: border-box;
            display: block;
            margin-top: 10px;
            padding: 12px 15px;
            background: none;
            border: solid 1px #e0e0e0;
            outline: none;
            width: 100%;

            @include search-input-text;

            &:focus {
              border: 1px solid $mic-light-green !important;
            }

            @include placeholder {
              @include search-input-text;
            }
            border-radius: 0;
            -webkit-appearance: none;
          }
        }

        #search-submit {
          margin-top: 15px;
          @media (min-width: $bp_mobile_px) {
            margin-top: 0;
          }
          input.submit-btn {
            @include btn;
            @include solid-green;
            @include padding(12px 70px);
            width: 100%;
          }
        }
      }

      p.results-count {
        @include padding(50px 0);
        @include font(normal, normal, normal, normal, 26px, 1.26, Georgia );
        @media (max-width: $bp_mobile_px) {
          @include font(normal, normal, normal, normal, 23px, 1.5, Georgia );
        }
        color: rgba(38, 38, 38, 0.55);
      }

    }
  }
  // search-input

  section#search-results {
    .container {
      @include container;
      max-width: $max-width;
      width: 100%;
      @include margin(0 auto);
      @media (min-width: $bp_mobile_px) {
        @include column(12);
      }

      #search-tabs {
        .r-tabs-accordion-title {
          display: none;
        }

        ul.tab-nav {
          display: none;

          @media (min-width: $bp_mobile_px) {
            display: block;
            border-bottom: dotted 1px #a8a8a8;
            padding-bottom: 20px;

            li {
              padding-right: 60px;

              &:last-child {
                padding-right: 0;
              }

              &.r-tabs-state-active {
                a {
                  &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    border: 1px solid $mic-green;
                    bottom: -20px;
                    width: 100%;
                  }
                }
              }

              a {
                position: relative;
                @include form-label;

                &.empty-result {
                  pointer-events: none;
                  color: #ccc;
                }
              }
            }
          }
        }

        .mobile-tab-nav {
          @media (min-width: $bp_mobile_px) {
            display: none;
          }

          label {
            @include form-label;
          }

          select {
            width: 100%;
            margin-top: 10px;
            @include mic-select;
          }
        }

        .tab-content {
          @include padding(0);

          .search-result {
            border-bottom: dotted 1px #a8a8a8;
            padding-bottom: 50px;

            a.result-title {
              display: block;
              margin-top: 50px;
              margin-bottom: 10px;
              @include bold-p;
            }

            p {
              a.read-more {
                color: #262626;
                font-weight: bold;
                border-bottom: solid rgba(100, 184, 23, 0.3);
              }
            }
          }

          // pagination
          @mixin pagination-block {
             @include margin(auto 2px);
            @include size(35px);
            @include bold-p;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px !important;
          }

          nav.pagination {
            @include margin(55px auto);
            width: 300px;

            .page-numbers {
              display: inline-flex;
              @include bold-p;

              span.current {
                @include pagination-block;
                background-color: $mic-green;
                border: solid 2px $mic-green;
                color: $white;

                &:hover {
                  background-color: $mic-green;
                }
              }

              a.page-numbers {
                @include pagination-block;
                border: solid 2px #5db817;
                color: $mic-green;

                &:hover {
                  color: $white;
                  background-color: $mic-light-green;
                }
              }

              span.extend {
                color: #9197a4;
                @include pagination-block;
              }
              span.dots {
                color: #ccc;
                font-size: 23px;
                margin: 0 3px;
                line-height: 1.5;
              }
              @mixin pagination-nav {
                @include size(15px 35px);
                text-indent: -30000px;
                display: block;
                background: url("../img/global/arrow-green.svg") center no-repeat;
                background-size: contain;
              }

              a.next {
                @include pagination-nav;
                margin-left: 10px;
                border: none;
                &:hover {
                  background-color: transparent;
                }
              }

              a.last {
                @include pagination-nav;
                margin-left: 10px;
              }

              a.prev {
                @include pagination-nav;
                transform: rotate(-180deg);
                margin-right: 10px;
                border: none;
                &:hover {
                  background-color: transparent;
                }
              }

              a.first {
                @include pagination-nav;
                transform: rotate(-180deg);
                margin-right: 10px;
              }
            }
          }

        }

      }
    }
  }
  // search-results

}
